<form tuiForm="l" [formGroup]="movimentoForm" (ngSubmit)="onSubmit()">
  <div class="flex gap-1">
    <tui-textfield>
      <label tuiLabel for="periodo">Data *</label>
      <input placeholder="Selecione o dia" tuiInputDate formControlName="data" />
      <tui-calendar *tuiTextfieldDropdown />
      <div *ngIf="movimentoForm.get('periodo')?.invalid && movimentoForm.get('periodo')?.touched" class="error-message">
        <span *ngIf="movimentoForm.get('periodo')?.errors?.['required']">Data é obrigatória</span>
      </div>
    </tui-textfield>

    <tui-textfield>
      <label tuiLabel>Valor *</label>
      <input formControlName="valor" tuiInputNumber
        [tuiNumberFormat]="{thousandSeparator: '.', decimalSeparator: ',', decimalMode: 'always'}"
        [prefix]="('BRL' | tuiCurrency) + ' '" />
    </tui-textfield>
  </div>

  <tui-textfield #textfield tuiChevron [stringify]="stringify" [identityMatcher]="identityMatcher"
    [content]="movimentoForm.get('categoriaOption')?.value && !textfield.focused() ? categoriasContent : ''">
    <label tuiLabel for="categoria">Categoria *</label>
    <input tuiComboBox formControlName="categoriaOption" />
    <tui-data-list-wrapper *tuiTextfieldDropdown new [itemContent]="categoriasContent" [items]="categoriaOptions() | tuiFilterByInput: matcher">
    </tui-data-list-wrapper>
    <ng-template #categoriasContent let-item>
      <ng-container *ngIf="item.source === 'orcamento'">
        {{ item.descricao ? item.descricao + ' - ' : '' }}{{ item.categoriaNome }}
      </ng-container>
      <ng-container *ngIf="item.source === 'categoria'">
        {{ item.categoriaNome }}
      </ng-container>
      <app-categoria-badge [tipo]="item.categoriaTipo"></app-categoria-badge>
    </ng-template>
  </tui-textfield>

  <tui-textfield>
    <label tuiLabel for="descricao">Descrição</label>
    <input tuiTextfield id="descricao" formControlName="descricao" type="text" placeholder="Digite a descrição" />
  </tui-textfield>

  @if (!isEditing) {
    <div class="flex gap-1">
       <div>
        <label tuiLabel for="parcelado">Possui parcelamento?</label>
        <input
            tuiSwitch
            type="checkbox"
            formControlName="parcelado"
            [showIcons]="true"
            size="m"
        />
      </div>

      @if (movimentoForm.get('parcelado')?.value) {
        <tui-textfield>
          <label tuiLabel for="parcelas">Número de parcelas</label>
          <input tuiInputNumber id="parcelas" formControlName="parcelas" [min]="2" [max]="99" />
        </tui-textfield>
      }
    </div>
  }

  <div class="form-actions">
    <button type="button" tuiButton appearance="secondary" size="m" (click)="onCancel()" [disabled]="isSubmitting()">
      Cancelar
    </button>

    <button type="submit" tuiButton appearance="primary" size="m" [disabled]="movimentoForm.invalid || isSubmitting()">
      {{ isSubmitting() ? 'Salvando...' : (isEditing ? 'Atualizar' : 'Cadastrar') }}
    </button>
  </div>
</form>