<header tuiNavigationHeader>
    <span tuiNavigationLogo>
        <tui-icon icon="@tui.badge-dollar-sign" />
        <span tuiFade>Gerenciador Financeiro</span>
        <tui-badge>Test</tui-badge>
    </span>
    <hr />
    <button iconStart="@tui.power" tuiIconButton type="button" (click)="logout()">
        Sair
    </button>
</header>
<div [style.display]="'flex'">
    <aside [style.height.rem]="27" [tuiNavigationAside]="expanded()">
        <header>
            <button iconStart="@tui.home" tuiAsideItem routerLink="/home" type="button">
                <span tuiFade>Início</span>
            </button>
        </header>
        <hr />
        <button iconStart="@tui.folder-open" tuiAsideItem routerLink="/categorias" type="button">
            <span tuiFade>Categorias</span>
        </button>
        <button iconStart="@tui.chart-column-big" tuiAsideItem routerLink="/orcamentos" type="button">
            <span tuiFade>Orçamento</span>
        </button>
        <button iconStart="@tui.receipt" tuiAsideItem routerLink="/movimentacoes" type="button">
            <span tuiFade>Movimentações</span>
        </button>
        <button iconStart="@tui.piggy-bank" tuiAsideItem routerLink="/reservas" type="button">
            <span tuiFade>Reservas</span>
        </button>
        <hr />
        <button iconStart="@tui.users" tuiAsideItem routerLink="/usuarios" type="button" *ngIf="isAdmin">
            <span tuiFade>Usuários</span>
        </button>
        <button iconStart="@tui.clipboard-clock" tuiAsideItem routerLink="/logs" type="button" *ngIf="isAdmin">
            <span tuiFade>Logs</span>
        </button>
        <footer>
            <button tuiAsideItem type="button" [iconStart]="expanded() ? '@tui.chevron-left' : '@tui.chevron-right'"
                (click)="handleToggle()">
                {{ expanded() ? 'Esconder' : 'Expandir' }}
            </button>
        </footer>
    </aside>
    <main tuiNavigationMain>
        <nav compact tuiSubheader [style.position]="'sticky'">
            <tui-breadcrumbs [itemsLimit]="10">
                <ng-container *ngFor="let item of breadcrumbs; let last = last">
                    <ng-container *ngIf="last">
                        <strong *tuiItem tuiFade>
                            {{ item }}
                        </strong>
                    </ng-container>
                    <ng-container *ngIf="!last">
                        <button *tuiItem tuiLink type="button">
                            {{ item }}
                        </button>
                    </ng-container>
                </ng-container>
            </tui-breadcrumbs>
        </nav>
        <router-outlet></router-outlet>
    </main>
</div>