:host {
    form {
        > :first-child {
            margin-top: 1.5rem;
        }

        .form-actions {
            display: flex;
            gap: 1rem;
            justify-content: space-between;
            border-top: 1px solid var(--tui-border);
            align-items: flex-end;

            app-categoria-badge {
                ::ng-deep tui-badge {
                    font-weight: 700;
                    font-size: .85rem !important;
                }

                &:first-child {
                    margin-right: .5rem;
                }
            }

            .form-buttons {
                display: flex;
                gap: 1rem;
                justify-content: flex-end;
                align-items: center;

                @media (max-width: 768px) {
                    flex-direction: column-reverse;

                    button {
                        width: 100%;
                    }
                }
            }

            @media (max-width: 768px) {
                flex-direction: column-reverse;
            }
        }
    }

    .table-container {
        margin-block-start: 2rem;
    }
}